# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.venv/
venv/
ENV/
env/

# Q-Learning Models & Checkpoints
*.pkl
*.pickle

# Docker logs
*.log

# IDEs and Editors
.vscode/
.idea/
.obsidian/